<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul id="test-list">
    <li id="list-item3">55</li>
    <li id="list-item4"> 4</li>
    <li id="list-item2">99</li>
    <li id="list-item1"> 1</li>
</ul>
<div class="container">
<div class="swiper-slide">
  <div class="uuu col-lg-8">
  <img src="/media/{{ e.image }}" class="d-block" width="140" height="140" alt="{{e.product_name}}">
  <h2 class="fw-normal" id="namepr{{e.id}}">{{ e.product_name }}</h2>
      <p class="pricesdd text-muted">₹<span class="prices" id="pricepr{{e.id}}">899</span></p>
  <p>{{ e.desc| slice:"0:50" }}...</p>
  <p><a class="btn btn-secondary" href="/shop/productview/{{ e.id }}">Browse »</a><span class="divpr" id="difvpr{{e.id}}"><button id="prdd{{ e.id }}" class="cart btn btn-outline-secondary mx-3">Add to Cart »</button></span></p>
</div>
</div>
<div class="swiper-slide">
  <div class="uuu col-lg-8">
  <img src="/media/{{ e.image }}" class="d-block" width="140" height="140" alt="{{e.product_name}}">
  <h2 class="fw-normal" id="namepddr{{e.id}}">{{ e.product_name }}</h2>
      <p class="pricesdd text-muted">₹<span class="prices" id="pricfffepr{{e.id}}">44</span></p>
  <p>{{ e.desc| slice:"0:50" }}...</p>
  <p><a class="btn btn-secondary" href="/shop/productview/{{ e.id }}">Browse »</a><span class="divpr" id="divpr{{e.id}}"><button id="pwwwr{{ e.id }}" class="cart btn btn-outline-secondary mx-3">Add to Cart »</button></span></p>
</div>
</div><div class="swiper-slide">
  <div class="uuu col-lg-8">
  <img src="/media/{{ e.image }}" class="d-block" width="140" height="140" alt="{{e.product_name}}">
  <h2 class="fw-normal" id="nameeepr{{e.id}}">{{ e.product_name }}</h2>
      <p class="pricesdd text-muted">₹<span class="prices" id="priddcepr{{e.id}}">1578</span></p>
  <p>{{ e.desc| slice:"0:50" }}...</p>
  <p><a class="btn btn-secondary" href="/shop/productview/{{ e.id }}">Browse »</a><span class="divpr" id="divggpr{{e.id}}"><button id="pffr{{ e.id }}" class="cart btn btn-outline-secondary mx-3">Add to Cart »</button></span></p>
</div>
</div>
    </div>
<button onclick="ascending()">Asc Sort</button>
<button onclick="descending()">Desc Sort</button>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js'></script>
<script>
    function ascending() {
        Array.prototype.slice.call(document.body.querySelectorAll('.prices')).sort(function(a, b) {
            if (parseFloat(a.textContent) < parseFloat(b.textContent)) return -1;
            if (parseFloat(a.textContent) > parseFloat(b.textContent)) return 1;
            return 0;
      }).forEach(function(div) {
        $('.container').append(div.parentElement.parentElement);
    });

    }
    function descending() {
    Array.prototype.slice.call(document.body.querySelectorAll('.prices')).sort(function(a, b) {
            if (parseFloat(a.textContent) > parseFloat(b.textContent)) return -1;
            if (parseFloat(a.textContent) < parseFloat(b.textContent)) return 1;
            return 0;
      }).forEach(function(div) {
        $('.container').append(div.parentElement.parentElement);
    });
    }
  </script>
</html>